// this file is for the device tree overlay = fysical layout and keys)

/ {
    chosen {
    // chosen is a reserved node where you tell ZMK which keyboard to use.
        zmk,keyboard = &cripchorder;
    };

    // Define the keyboard node
    // this is for the Paintbrush PCB, which has 8 keys in two rows and 4 columns
    cripchorder {
        compatible = "zmk,keyboard";
        diode-direction = COL2ROW;
        matrix-row-pins = <&gpio0 4 &gpio0 5 &gpio0 6 &gpio0 7>;
        matrix-col-pins = <&gpio1 0 &gpio1 1>;

        // Optional if you have haptic or other features
        // features = <&haptic>;
    };

    // OLED display
    &i2c1 {
        // &i2c1: This is the hardware I²C bus on the Nice!Nano.
        // I²C I²C stands for Inter-Integrated Circuit. 
        // It’s pronounced “I-squared-C” or just “I-two-C”. 
        // It is a way for small chips (like displays or sensors) to talk to the microcontroller.
        // It also is communication protocol 
        // It uses only two wires: SCL (clock signal) and SDA (data signal)
        // Think of it as a tiny network of devices on your keyboard:
        // The Nice!Nano is the master, the OLED screen is the slave device.
        // The OLED display gets power (VCC=voltage + GND=0), and talks via I²C using SDA and SCL.
        status = "okay"; 
        sda-pin = <20>; // default I²C pin on the Nice!Nano. SDA is the data line.
        scl-pin = <21>; //default I²C pin on the Nice!Nano. SCL is the clock.
        clock-frequency = <I2C_BITRATE_FAST>; // This sets the speed of communication, you could also use STANDARD or FAST_PLUS.

        oled@3c {
            // this defines a display device at I²C address 0x3C , which is the default for most SSD1306 OLEDs
            compatible = "solomon,ssd1306fb"; // This tells ZMK that it’s an SSD1306-based OLED.
            reg = <0x3c>;
            width = <128>;
            height = <32>;
            // width and height set the resolution of the display. 
            // This is standard for many small OLEDs.
        };
    };

// this is the part of the programme where you define what the ouput of the 8 keys wille be when you just press them
keymap {
    compatible = "zmk,keymap";

    default_layer {
        bindings = <
            &kp A &kp B &kp C &kp D
            &kp E &kp F &kp G &kp H
        >;
    };
};

};

